alembic==1.4.2
altgraph==0.16.1
appdirs==1.4.3
asgiref==3.2.3
autoit==0.1
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
backports.weakref==1.0rc1
beautifulsoup4==4.8.2
bleach==1.5.0
boto3==1.14.52
botocore==1.17.52
branca==0.4.0
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cs50==3.1.0
cssselect==1.1.0
cx-Freeze==5.1.1
dj-database-url==0.5.0
Django==2.2
django-heroku==0.3.1
dnspython==1.16.0
docutils==0.15.2
eventlet==0.25.0
fake-useragent==0.1.11
Flask==1.0.3
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-Session==0.3.1
Flask-SocketIO==4.3.1
Flask-SQLAlchemy==2.4.0
folium==0.10.1
future==0.17.1
geographiclib==1.50
geopy==1.21.0
googlemaps==4.2.0
greenlet==0.4.15
gunicorn==19.9.0
html5lib==0.9999999
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.10.0
lxml==4.5.0
macholib==1.11
Mako==1.1.3
Markdown==2.6.8
MarkupSafe==1.1.1
monotonic==1.5
nltk==3.4.4
nominatim==0.1
numpy==1.17.0
opencv-python==4.4.0.42
parse==1.14.0
pefile==2018.8.8
pexpect==4.7.0
Pillow==5.2.0
protobuf==3.3.0
psycopg2==2.8.2
ptyprocess==0.6.0
pyee==7.0.1
pygame==1.9.4
PyInstaller==3.4
pypiwin32==223
pyppeteer==0.0.25
pyquery==1.4.1
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==3.13.1
python-socketio==4.6.0
pytz==2019.1
pywin32==224
pywin32-ctypes==0.2.0
requests==2.22.0
requests-html==0.10.0
s3transfer==0.3.3
scipy==1.3.1
selenium==3.141.0
six==1.12.0
soupsieve==1.9.5
SQLAlchemy==1.3.4
sqlparse==0.3.0
submit50==2.4.10
tensorflow==1.2.1
termcolor==1.1.0
tflearn==0.3.2
tqdm==4.43.0
urllib3==1.25.3
urlopen==1.0.0
w3lib==1.21.0
websockets==8.1
Werkzeug==0.15.4
whitenoise==5.2.0
